@import "./mixin/mixin.scss";

.bloc_input {
  padding: 0.25rem 0;
  @include flex(row, flex-start, center);
  margin: 0 0 1rem 0;

  &_row {
    gap: 1rem;
  }

  &_col {
    @include flex(column);
    gap: 0.5rem;
  }

  &_content {
    @include responsiveContainer(100%);
    @include flex(row, space-between, center);
    gap: 1rem;
  }

  input[type=text] {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.25rem;
    border: none;
    font-size: 1.125rem;
  }
}